body {
  width: 95%;
  margin: auto;
  text-align: center;
  font-family: Helvetica;
}

img {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.arrow {
  margin-top: 15px;
  margin-bottom: -10;
  width: 30%;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 40px;
}

.note {
  font-size: 12px;
}

.break {
  height: 35px;
}

.location {
  font-size: 26px;
  font-weight: bold;
  margin-top: 50px;
}

.facts {
  width: 90%;
  margin: auto;
  text-align: left;
  font-size: 12px;
}

.facts ul {
  padding-top: 12px;
  padding-bottom: 12px;
  list-style-type: none;
  padding-left: 0;
}

.facts ul li {
  border-top: 1px solid grey;
  padding-top: 12px;
  padding-bottom: 12px;
}

.facts ul li.last {
  border-bottom: 1px solid grey;
}
