body {
  margin: auto;
  text-align: center;
  font-family: Helvetica;
}

@media (max-width: 700px) {
  body {
    width: 95%;
    font-size: 15px;
  }
}

@media (min-width: 701px) {
  body {
    width: 55%;
    min-width: 500px;
    max-width: 900px;
    font-size: 18px;
  }
}

img {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.arrow {
  margin-top: 15px;
  margin-bottom: -10;
  width: 30%;
}

.title {
  font-size: 4.3em;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 40px;
}

.break {
  height: 35px;
}

.location {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 50px;
}

.list {
  width: 90%;
  max-width: 650px;
  margin: auto;
  text-align: left;
}

.list ul {
  padding-top: 12px;
  padding-bottom: 12px;
  list-style-type: none;
  padding-left: 0;
}

.list ul li {
  border-top: 1px solid grey;
  padding: .5em;
}

.list ul li.last {
  border-bottom: 1px solid grey;
}
